<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>ECharts Demo</title>
		<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" />
		<script></script>
	</head>
	<body>
		<div class="container">
			<h1 class="text-center">ECharts Demo</h1>
			<ul class="list-unstyled">
				<li class="well">
					<a href="echarts/bar.html">Bar Chart</a>
				</li>
				<li class="well">
					<a href="echarts/line.html">Line Chart</a>
				</li>
				<li class="well">
					<a href="echarts/pie.html">Pie Chart</a>
				</li>
				<li class="well">
					<a href="echarts/ring.html">Ring Chart</a>
				</li>
				<li class="well">
					<a href="echarts/gauge.html">Gauge Chart</a>
				</li>
				<li class="well">
					<a href="echarts/radar.html">Radar Chart</a>
				</li>
				<li class="well">
					<a href="echarts/map.html">Map Chart</a>
				</li>
			</ul>
		</div>
	</body>
</html>